
.header {
  margin-top: 60px;
  min-height: 100vh;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: rgb(0, 0, 0);
}
.headerTitleSm {
  position: absolute;
  top: 18%;
  font-size: 2.1rem;
  z-index: 1000 ;
  color:white;
}
.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size:10rem; 
  z-index: 1000 ;
  margin-top:3rem;
  color:white;

}

.headerImg {
  position: absolute;
  bottom:0;
  width:100%;
  height:100vh;
  object-fit:cover;
  filter:brightness(50%);
  background-color:black;
}
.home {
  display: flex;
  justify-content: center;

}

