.inverted-card-container {
    max-width: 350px;
    margin-left: 20px;
    background-color: #121212;
    margin-top: 30px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    border-color: gray;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 20px;

    @media screen and (max-width:1000px) {
        border-color: gray;
        border-style: solid;
        border-right-width: 0px;
        border-left-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 1px;
        padding-bottom: 15px;
        margin-left: 0px;
        max-width: 90%;
        margin-bottom: 30px;
    }

    /* Standard syntax */
    .wrapper {
        .image-container {
            height: 240px;
            display: flex;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;

            }
        }

        .type {
            background-color: rgba(245, 245, 245, 0.6);
            color: #121212;
            display: inline-block;
            padding: 5px;
            margin-top: 10px;
            border-radius: 5px;
            font-weight: bold;
        }

        .heading {
            font-size: 1.3rem;
            font-weight: bolder;
            margin-top: 10px;
            margin-bottom: 25px;
            color: white;

        }

        .text {
            color: gray;
            display: block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 3.3em;
        }

        .about-author-container {
            margin-top: 30px;
            display: flex;
            align-items: center;

            .author-img {
                height: 50px;
                width: 50px;
                object-fit: cover;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }

                margin-right: 20px;

            }

            .author-name-date {

                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;

                .name {
                    font-weight: bold;
                }

                .date {
                    font-weight: 500;
                    color: gray;
                }
            }

            .links-container {
                display: flex;
                width: 30%;
                justify-content: space-between;
                margin-left: 20px;
                cursor: pointer;
                font-size: 18px;
                color: gray;

                .read-more {
                    color: gray;

                    &:hover {
                        color: lightblue;
                    }
                }
            }
        }
    }
}