.card-container {
    max-width: 350px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
    border-color: gray;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 40px;
    margin-top: 60px;
    @media screen and (max-width:1000px) {
            margin-top: 40px;
            margin-right: 0;
            margin-bottom: 20px;
    }
    .wrapper {

        width:100%;
        .image-container {
            height: 240px;
            display: flex;
            img {
                height: 100%;
                width: 100%;
            }
        }

        .type {
            background-color: #121212;
            color: white;
            display: inline-block;
            padding: 5px;
            margin-top: 10px;
            border-radius: 6px;
        }

        .heading {
            font-size: 1.3rem;
            font-weight: bolder;
            margin-top: 10px;
            margin-bottom: 25px;

        }

        .text {
            color: gray;
            display: block;
            text-overflow: ellipsis;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 4.6em;

        }

        .about-author-container {
            margin-top: 20px;
            display: flex;
            align-items: center;

            .author-img {
                height: 50px;
                width: 50px;
                object-fit: cover;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }

                margin-right: 20px;

            }

            .author-name-date {

                display: flex;
                flex-direction: column;
                justify-content: center;

                .name {
                    font-weight: bold;
                }

                .date {
                    font-weight: 500;
                    color: gray;
                }
            }

            .links-container {
                display: flex;
                width: 30%;
                justify-content: space-around;
                margin-left: 25px;
                cursor: pointer;
                font-size: 18px;

                .read-more {
                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }
}